In [22]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [23]:
df1 = pd.read_csv("../data/지역별 건강보험 적용인구.csv", encoding='cp949')
df1 = df1[4:]
df1 = df1[df1["행정구역별(2)"] != "소계"]
df1_result = df1[['행정구역별(1)', '행정구역별(2)', '2017']]
df1_result

    행정구역별(1) 행정구역별(2)    2017
5      서울특별시      종로구  155238
6      서울특별시       중구  130605
7      서울특별시      용산구  224494
8      서울특별시      성동구  301411
9      서울특별시      광진구  355894
..       ...      ...     ...
244     경상남도      함양군   38528
245     경상남도      거창군   60336
246     경상남도      합천군   44804
248  제주특별자치도      제주시  470835
249  제주특별자치도     서귀포시  174954

[229 rows x 3 columns]

In [24]:
df1_result.to_csv("./result/processed_지역별 건강보험 적용인구.csv", header=False, index=False, encoding='cp949')

In [14]:
df_population = pd.read_csv("../data/지역별 인구수.csv", encoding='cp949')
df_population

       지역     인구수
0     종로구  157277
1      중구  127896
2     용산구  223898
3     성동구  302367
4     광진구  363934
..    ...     ...
224   함양군   37942
225   거창군   60083
226   합천군   43449
227   제주시  472399
228  서귀포시  169358

[229 rows x 2 columns]

In [26]:
df_insurance = pd.read_csv("./result/processed_지역별 건강보험 적용인구.csv", encoding='cp949')
df_insurance

          지역   지역구    대상자수
0      서울특별시   종로구  155238
1      서울특별시    중구  130605
2      서울특별시   용산구  224494
3      서울특별시   성동구  301411
4      서울특별시   광진구  355894
..       ...   ...     ...
224     경상남도   함양군   38528
225     경상남도   거창군   60336
226     경상남도   합천군   44804
227  제주특별자치도   제주시  470835
228  제주특별자치도  서귀포시  174954

[229 rows x 3 columns]

In [41]:
df_bind = df_insurance
df_bind['인구수'] = df_population['인구수']
df_bind.drop(['비율', '비율2'], axis=1, inplace=True)

In [49]:
df_bind['비율'] = df_bind['대상자수'] / df_bind['인구수'] * 100
df_bind.drop(['대상자수', '인구수'], axis=1, inplace=True)
df_bind

          지역   지역구          비율
0      서울특별시   종로구   98.703561
1      서울특별시    중구  102.118127
2      서울특별시   용산구  100.266193
3      서울특별시   성동구   99.683828
4      서울특별시   광진구   97.790808
..       ...   ...         ...
224     경상남도   함양군  101.544463
225     경상남도   거창군  100.421084
226     경상남도   합천군  103.118599
227  제주특별자치도   제주시   99.668924
228  제주특별자치도  서귀포시  103.304243

[229 rows x 3 columns]

In [59]:
max_rate = df_bind['비율'].max()
min_rate = df_bind['비율'].min()
print(max_rate, min_rate)

113.01416048550237 87.74798343143667

          지역   지역구          비율       정규분포
0      서울특별시   종로구   98.703561  87.337340
1      서울특별시    중구  102.118127  90.358701
2      서울특별시   용산구  100.266193  88.720026
3      서울특별시   성동구   99.683828  88.204724
4      서울특별시   광진구   97.790808  86.529695
..       ...   ...         ...        ...
224     경상남도   함양군  101.544463  89.851097
225     경상남도   거창군  100.421084  88.857081
226     경상남도   합천군  103.118599  91.243963
227  제주특별자치도   제주시   99.668924  88.191536
228  제주특별자치도  서귀포시  103.304243  91.408229

[229 rows x 4 columns]

In [64]:
df_bind['정규분포'] = df_bind['비율'].astype(float) - df_bind['비율'].min()
df_bind['정규분포'] = df_bind['정규분포'] / df_bind['비율'].max()
df_bind.drop(['비율'], axis=1, inplace=True)
df_bind

          지역   지역구      정규분포
0      서울특별시   종로구  0.096940
1      서울특별시    중구  0.127153
2      서울특별시   용산구  0.110767
3      서울특별시   성동구  0.105614
4      서울특별시   광진구  0.088863
..       ...   ...       ...
224     경상남도   함양군  0.122077
225     경상남도   거창군  0.112137
226     경상남도   합천군  0.136006
227  제주특별자치도   제주시  0.105482
228  제주특별자치도  서귀포시  0.137649

[229 rows x 3 columns]

In [65]:
df_bind.to_csv("./result/processed_지역별 건강보험 적용인구.csv", header=False, index=False, encoding='cp949')